---
---

<nav class="toc-nav -sidebar js-sidebar-toc-block">
  <div class="toc-sidebar"></div>
</nav>


<style is:global lang="scss">

.toc-nav.-sidebar {
  background-color: transparent;
  margin-top: 1.6rem!important;
  padding: 0;
  border: none;
}

.toc-sidebar {
  font-family: var.$font-base;

  .toc-list {
    margin-top: 0;

    .toc-list-item:first-child {
      .toc-link.node-name--H2 {
        margin-top: 0;
      }
    }
  }

  .toc-list-item {
    margin-top: 0!important;
  }

  .toc-link {
    position: relative;

    &::before {
      content: '';
      background-size: 100% 100%;
      background-position: left top;
      background-repeat: no-repeat;
      width: .2rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: all .3s;
      background-color: var.$c-main;
    }

    &.node-name--H2 {
      display: block;
      margin-top: .6rem;
      font-size: 1.3rem;
      font-weight: 600;
      padding-left: 0.8rem;
      padding: .4rem 1rem;
      line-height: 1.5;
    }

    &.node-name--H3 {
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      padding: .4rem 1rem;
      line-height: 1.5;
    }

    &.is-active-pos {
      background-color: #f9f9fc;

      &::before {
        opacity: 1;
      }
    }
  } 
}

.toc-btn {
  display: none;

  @include mixin.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    background-color: var.$c-main-v;
    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;
    border-radius: 50%;
    color: var.$c-white;
    z-index: var.$z-sidebar-sticky-btn;
  }
}

.toc-icon {
  &:nth-child(1) {
    display: block;
  }

  &:nth-child(2) {
    display: none;
  }
}
</style>

<style is:global lang="scss">
  body.is-toc-open {
    .toc-btn {
      display: flex;

      &__text {
        &:first-child {
          display: flex;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }

    .toc-icon {

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: flex;
      }
    }

    .sidebar__sticky {
      transform: translateX(0);
    }
  }
</style>

<script>
  // if(!document.querySelector('.js-sidebar-toc-block')) return;
  
  const btn = document.querySelector('.js-toggle-toc');
  const body = document.body;
  const sidebarBlock = document.querySelector('.js-sidebar-sticky');

  btn.addEventListener('click', () => {
    body.classList.toggle('is-toc-open');
  });

  sidebarBlock.addEventListener('click', (e) => {
    if(e.target.classList.contains('toc-link')) {
      body.classList.remove('is-toc-open');
    }
  });
</script>