---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getSortedPosts } from '@utils/article';
import Pagination from '@components/article/Pagination.astro';
import ArticleList from '@components/article/ArticleList.astro';

export async function getStaticPaths({ paginate }) {
  const articles = await getCollection('article', ({ data }) => {
		return data.isDraft === false;
	});

  const sortedArticles = getSortedPosts(articles);
  const paginateData = paginate(sortedArticles, { pageSize: 10 });

  return paginateData;
}

const { page } = Astro.props;
---

<Layout>
  <main class="main">
    <ArticleList articles={page.data} />
    <Pagination page={page} />
  </main>
</Layout>

<style lang="scss">
  .main {
    padding: 12rem 0;
  }
</style>