---
const { entry, components = {} } = Astro.props;
const { Content } = await entry.render();
import styles from '@styles/article-content.module.scss';
import Pre from './parts/pre/Pre.astro';
import Img from './parts/img/Img.astro';
import ImgCaption from './parts/img-caption/ImgCaption.astro';
import OuterLink from './parts/outer-link/OuterLink.astro';
import ArticleToc from './ArticleToc.astro';
import InfoBox from './parts/info-box/InfoBox.astro';
import NpmVersions from './parts/npm-versions/NpmVersions.astro';
import Spacer from './parts/spacer/Spacer.astro';
import BrowserBox from './parts/browser-box/BrowserBox.astro';
---

<div class:list={["content", styles.content]} id="article-content">
  <Content components={{...components, pre: Pre, Img, ImgCaption, OuterLink, ArticleToc, InfoBox, NpmVersions, Spacer, BrowserBox}} />
</div>

<style lang="scss" is:global>

figure[data-rehype-pretty-code-figure] {
  position: relative;
  width: 100%;
  display: block;
  display: grid;
  overflow: hidden;
  background-color: #1b242e;
  border-radius: 0 0 0.8rem 0.8rem;
  border: 0.1rem solid #334155;
  margin-top: -0.1rem;
  margin-bottom: 3.2rem;

  span[data-line] {
    font-size: 1.4rem;
    /* stylistic preferences */
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    border-left-style: solid;
    border-left-width: 0.4rem;
    border-left-color: transparent;
    line-height: 1.75;
    font-smoothing: auto;
    -webkit-font-smoothing: auto;
    display: block;

    @include mixin.sp {
      padding-left: 0;
      font-size: 1.4rem;
      -webkit-text-size-adjust: 100%;
    }

    &[data-highlighted-line] {
      border-left-color: #1b85ff;
      background-color: rgba(#75b1ff, 0.2);
    }
  }

  pre code {
    display: grid;
    font-family: var.$font-editor;
    letter-spacing: 0;
    // to reset CSS from code tag outside of highlighter
    margin: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    line-height: 1.5;

    &[data-line-numbers] {
      counter-reset: line;

      span[data-line]::before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        text-align: right;

        /* stylistic preferences */
        margin-right: 1.25rem;
        width: 1.75rem;
        color: rgba(#fff, 0.2);
      }
    }
  }
}
</style>