---
const { entry, components = {} } = Astro.props;
const { Content } = await entry.render();
import styles from '@/styles/article-content.module.scss';
import Pre from './parts/pre/Pre.astro';
import Img from './parts/img/Img.astro';
import ImgCaption from './parts/img-caption/ImgCaption.astro';
import OuterLink from './parts/outer-link/OuterLink.astro';
import ArticleToc from './ArticleToc.astro';
import InfoBox from './parts/info-box/InfoBox.astro';
import NpmVersions from './parts/npm-versions/NpmVersions.astro';
import Spacer from './parts/spacer/Spacer.astro';
import BrowserBox from './parts/browser-box/BrowserBox.astro';
import AdUnit from '@components/article/parts/ad-unit/AdUnit.astro';
import Versions from '@components/article/parts/versions/Versions.astro';
import Blockquote from '@components/article/parts/blockquote/Blockquote.astro';
import AstroGetUrlDemo from "@article/components/astro-get-url/AstroGetUrlDemo.astro";
import AstroGetUrlDemoRequest from '@article/components/astro-get-url/AstroGetUrlDemoRequest.astro';
import AstroGetUrlDemoObj from '@article/components/astro-get-url/AstroGetUrlDemoObj.astro';
// css-has-pseudo-class
import DemoSelectPlaceholder from '@article/components/css-has-pseudo-class/DemoSelectPlaceholder.astro';
import DemoConditionalInput from '@article/components/css-has-pseudo-class/DemoConditionalInput.astro';
import DemoSnsBtns from '@article/components/css-has-pseudo-class/DemoSnsBtns.astro';
---

<div class:list={["content", styles.content]} id="article-content">
  <Content components={{...components, pre: Pre, Img, ImgCaption, OuterLink, ArticleToc, InfoBox, NpmVersions, Spacer, BrowserBox, AdUnit, Versions, Blockquote, AstroGetUrlDemo, AstroGetUrlDemoRequest, AstroGetUrlDemoObj, DemoSelectPlaceholder, DemoConditionalInput, DemoSnsBtns}} />
</div>

<style lang="scss" is:global>

figure[data-rehype-pretty-code-figure] {
  position: relative;
  width: 100%;
  display: block;
  display: grid;
  overflow: hidden;
  background-color: #1b242e;
  border-radius: 0 0 0.8rem 0.8rem;
  border: 0.1rem solid #334155;
  margin-top: -0.1rem;
  margin-bottom: 3.2rem;

  @include mixin.sp {
    border-radius: 0 0 0.4rem 0.4rem;
  }

  span[data-line] {
    font-size: 1.4rem;
    /* stylistic preferences */
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    border-left-style: solid;
    border-left-width: 0.4rem;
    border-left-color: transparent;
    line-height: 1.75;
    font-smoothing: auto;
    -webkit-font-smoothing: auto;
    display: block;

    @include mixin.sp {
      padding-left: 0;
      font-size: 1.4rem;
      -webkit-text-size-adjust: 100%;
    }

    &[data-highlighted-line] {
      border-left-color: #1b85ff;
      background-color: rgba(#75b1ff, 0.2);
    }
  }

  pre code {
    display: grid;
    font-family: var.$font-editor;
    letter-spacing: 0;
    // to reset CSS from code tag outside of highlighter
    margin: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    line-height: 1.5;

    &[data-line-numbers] {
      counter-reset: line;

      span[data-line]::before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        text-align: right;

        /* stylistic preferences */
        margin-right: 1.25rem;
        width: 1.75rem;
        color: rgba(#fff, 0.2);
      }
    }
  }
}

.rlc-container {
  width: 100%;
  max-width: 100%;
  min-height: 11rem;
  border: .1rem solid var.$c-gray-l;
  background-color: var.$c-gray-l-2;
  border-radius: .3rem;
  display: flex;
  text-decoration: none;
  overflow: hidden;
  transition: background-color .3s;

  @include mixin.sp {
    flex-direction: column-reverse;
  }

  @include mixin.hover {
    &:hover {
      background-color: var.$c-gray-l;
    }
  }
  
  .rlc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    padding: 1.6rem;
    width: 70%;

    @include mixin.sp {
      width: 100%;
    }

    .rlc-title {
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    .rlc-description {
      font-size: 1rem;
      color: #737373;
      margin-bottom: 0.5em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .rlc-url-container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .rlc-favicon {
        margin-top: 0.15rem;
        margin-bottom: 0;
      }
      .rlc-url {
        font-size: 1rem;
        color: #525252;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 1;
      }
      .rlc-favicon {
        width: 1.6rem;
      }
    }
  }
  .rlc-image-container {
    position: relative;
    aspect-ratio: 1.91 / 1;
    flex-shrink: 0;
    width: 30%;

    @include mixin.sp {
      width: 100%;
    }

    .rlc-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
</style>