---
import { getCollection } from 'astro:content';
import TagCloud from "@components/common/TagCloud.astro"
import { getTagsWithArticles } from '@utils/article-tags';
import Ranking from './sidebar-widgets/Ranking.astro';
import { FaCrown } from "react-icons/fa";
import { FaTags } from "react-icons/fa";
import { IoIosPricetags } from "react-icons/io";
import Toc from './sidebar-widgets/Toc.astro';
import { MdOutlineToc } from "react-icons/md";
import { RxCross2 } from "react-icons/rx";

const articleEntries = await getCollection('article', ({data}) => {
	return data.isDraft === false;
});
const tagsWithArticles = getTagsWithArticles(articleEntries);
---

<aside class="sidebar">
  <div class="sidebar__block">
    <p class="sidebar__block-title"><IoIosPricetags />タグ一覧</p>
    <div class="tags">
      <TagCloud tags={tagsWithArticles} />
    </div>
  </div>
  <div class="sidebar__block">
    <p class="sidebar__block-title"><FaCrown />人気記事一覧</p>
    <Ranking />
  </div>
  <div class="sidebar__sticky js-sidebar-sticky">
    <div class="sidebar__block -toc">
      <p class="sidebar__block-title -toc"><MdOutlineToc />目次</p>
      <Toc />
    </div>
  </div>
  <button class="toc-btn js-toggle-toc">
    <div class="toc-icon">
      <MdOutlineToc />
    </div>
    <div class="toc-icon">
      <RxCross2 />
    </div>
  </button>
</aside>

<style lang="scss">
  .sidebar {
    width: 30rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include mixin.tab {
      width: 100%;
    }

    &__sticky {
      position: sticky;
      top: 12rem;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      height: calc(100vh - 16rem);

      @include mixin.tab {
        margin-top: 0!important;
        height: 100%;
        overflow: auto;
        background-color: var.$c-white;
        position: fixed;
        top: 9.2rem;
        width: calc(100% - 6.4rem);
        // padding: 2.4rem 2rem;
        right: 3.2rem;
        max-height: calc(100svh - 6.2rem - 6rem);
        height: 100%;
        transform: translateX(calc(100% + 6rem));
        // border: .1rem solid var.$c-gray-l;
        box-shadow: 0 0 1.6rem rgba(var.$c-text, .1);
        transition: all .6s;
      }
    }

    &__block {
      background-color: var.$c-white;
      border: .1rem solid var.$c-gray-l;
      padding: 1.6rem 2.4rem 2.4rem;

      &.-toc {
        height: 100%;
        overflow-y: auto;
      }
    }

    &__block-title {
      font-size: 1.6rem;
      font-weight: bold;
      padding-bottom: 1.2rem;
      border-bottom: .1rem solid var.$c-gray-l;
      display: flex;
      align-items: center;

      svg {
        margin-right: .2rem;
      }

      &.-toc {

        @include mixin.tab {
          font-size: 1.4rem;
        }

        svg {
          font-size: 1.8rem;
          transform: translateY(.1rem);
        }
      }
    }
  }

  .tags {
    margin-top: 2.4rem;
  }
</style>