---
const currentPageOrigin = Astro.url.origin;
const currentPageHostname = Astro.url.hostname;
const currentPagePathname = Astro.url.pathname;
---

<div class='demo'>
  <p>現在のページのオリジン: {currentPageOrigin}</p>
  <p>現在のページのホスト名: {currentPageHostname}</p>
  <p>現在のページのパス: {currentPagePathname}</p>
</div>

<style lang="scss">
.demo {
  font-size: 1.4rem;
  word-break: break-all;
}
</style>