// colors
$c-white: #fff;
$c-bg: #f8fafc;

$c-gray-l: #efeff5;
$c-gray-l-2: #f9f9fc;

$c-text: #2e3d5b;
$c-main: #2e4e6f;
$c-main-v: #425bda;

$c-link: #2a65d9;

$c-code-option: #dc329c;
// fonts

$font-base: "Noto Sans JP Variable", sans-serif;
$font-en: "Poppins", sans-serif;
$font-editor: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// z-index
$z-header: 100;
$z-menu: 99;
$z-sidebar-sticky: 10;
$z-sidebar-sticky-btn: 11;
