.code_head {
  padding: 1.6rem;
  font-family: var.$font-editor;
  font-size: 1.3rem;
  margin-top: 3.2rem;
  line-height: 1;
  color: rgba(var.$c-white, 0.8);
  border: 0.1rem solid #334155;
  background-color: #1b242e;
  border-radius: 0.8rem 0.8rem 0 0;
  display: flex;
  align-items: center;
  width: 100%;

  @include mixin.sp {
    padding: 1.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
  }
}

.dots {
  display: flex;
  align-items: center;
  margin-right: 1.2rem;

  @include mixin.sp {
    display: none;
  }

  span,
  &::before,
  &::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.6rem;
    display: block;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    background-color: #ff5f57;
  }

  span {
    background-color: #febc2e;
  }

  &::after {
    background-color: #28c840;
  }
}

.text_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  font-smoothing: auto;
  -webkit-font-smoothing: auto;

  @include mixin.sp {
    width: 100%;
    gap: 1rem;
  }

  & > span {
    &::-webkit-scrollbar {
      scrollbar-width: 0.5rem;
      height: 0.5rem;
      background: #1b242e;
    }

    &::-webkit-scrollbar-thumb {
      background: #334155;
      border-radius: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background: #1b242e;
      border-radius: 0.6rem;
    }

    @include mixin.sp {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

.lang_wrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.2rem;
}

.icon {
  font-size: 1.4rem;
  margin-right: 0.4rem;

  &[data-lang="js"] {
    color: #ffd600;
  }

  &[data-lang="ts"] {
    color: #007acc;
  }

  &[data-lang="html"] {
    font-size: 1.6rem;
    color: #ff8c0b;
  }

  &[data-lang="css"] {
    color: #2ea8ff;
  }

  &[data-lang="scss"] {
    color: #cc6699;
  }

  &[data-lang="jsx"] {
    color: #82f3ff;
  }

  &[data-lang="astro"] {
    font-size: 1.3rem;
    transform: translateY(0.1rem);
  }

  &[data-lang="md"] {
    margin-right: 0.6rem;
  }

  &[data-lang="mdx"] {
    margin-right: 0.6rem;
  }
}
