---
import Layout from '../layouts/Layout.astro';
import Container from '@components/common/Container.astro';
import ArticleArchiveSidebar from '@components/article/ArticleArchiveSidebar.astro';
import { Image, getImage } from 'astro:assets';
import myImage from '@assets/images/hero.png';

const optimizedImage = await getImage({src: myImage, quality: 75});

console.log(optimizedImage);

---
<Layout>
	<div class="page">
		<div class="bg" style={`background-image: url(${optimizedImage.src})`}></div>
	</div>
</Layout>

<style lang="scss">
.page {
  padding: 8rem 0 0 0;
}

.bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
}
</style>

