---
import Container from "./common/Container.astro"
import { Image } from "astro:assets"
import logo from '@assets/images/logo-white.svg';
const isTopPage = Astro.url.pathname === '/';
---
<footer class="footer">
  <div class="content">
    <Container>
      <div class="row">
        <div class="logo-col">
          {
            isTopPage ? (
              <div class="logo-wrap">
                <Image class="logo" src={logo} alt='WebTech Media' />
              </div>
            ) : (
              <a href="/" class="logo-wrap -link">
                <Image class="logo" src={logo} alt='WebTech Media' />
              </a>
            )
          }
          <p class="text">モダンなWeb開発手法に特化したメディアサイト</p>
        </div>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/article">記事一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">お問い合わせ</a>
            </li>
          </ul>

          <ul class="nav-sub-list">
            <li class="nav-sub-item">
              <a href="/privacy-policy" class="nav-sub-link">プライバシーポリシー</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="owned-site">運用中のサイト: <a href="https://web-dev.tech/" target="_blank">WebDev Tech</a></div>
    </Container>
  </div>
  <p class="copy">&copy; WebTech Media All Rights Reserved.</p>
</footer>

<style lang="scss">
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #334186;
  margin-top: auto;
  width: 100%;
}

.content {
  padding: 8rem 0 6rem;

  @include mixin.sp {
    padding: 6.4rem 0 4rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @include mixin.sp {
    flex-direction: column;
  }
}

.nav {
  color: var.$c-white;
}

.nav-list {
  display: flex;
  gap: 2.4rem;

  @include mixin.sp {
    justify-content: center;
    margin-top: 3.2rem;
    gap: 0;
    flex-direction: column;
    border-bottom: .1rem solid rgba(var.$c-white, .1);
  }
}

.nav-item {
  @include mixin.sp {
    width: 100%;
    border-top: .1rem solid rgba(var.$c-white, .1);
  }
}

.nav-link {
  font-size: 1.4rem;
  font-weight: bold;
  transition: all .3s;

  @include mixin.sp {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0;
  }

  @include mixin.hover {
    &:hover {
      opacity: .8;
    }
  }
}

.nav-sub-list {
  margin-top:8rem;
  display: flex;
  justify-content: flex-end;

  @include mixin.sp {
    justify-content: center;
    margin-top: 2.4rem;
  }
}

.nav-sub-link {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: underline;
  transition: all .3s;

  @include mixin.sp {
    font-size: 1.1rem;
  }

  @include mixin.hover {
    &:hover {
      opacity: .8;
    }
  }
}

.logo-col {
  display: flex;
  flex-direction: column;
  color: var.$c-white;

  @include mixin.sp {
    align-items: center;
  }

  .text {
    font-size: 1.3rem;
    margin-top: 1.6rem;
    font-weight: 500;

    @include mixin.sp {
      font-size: 1.2rem;
      margin-top: 1.2rem;
    }
  }
}

.logo-wrap {
  display: flex;
  align-items: center;

  .logo {
    width: 21.6rem;

    @include mixin.sp {
      width: 17.2rem;
    }
  }

  &.-link {
    transition: all .3s;

    @include mixin.hover {
      &:hover {
        opacity: .8;
      }
    }
  }
}

.copy {
  font-family: var.$font-en;
  font-size: 1.3rem;
  padding: 1rem 0;
  letter-spacing: .02em;
  background-color: var.$c-main-v;
  background-color: #26326f;
  color: var.$c-white;
  width: 100%;
  text-align: center;

  @include mixin.tab {
    padding: .8rem 0;
  }

  @include mixin.sp {
    font-size: 1.1rem;
  }
}

.owned-site {
  font-size: 1.3rem;
  font-weight: 500;
  color: var.$c-white;
  transform: translateY(-1.6rem);

  @include mixin.sp {
    transform: translateY(0);
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4rem;
  }
  
  a {
    text-decoration: underline;
    transition: all .3s;

    @include mixin.hover {
      &:hover {
        opacity: .8;
      }
    }
  }
}
</style>