---
const {data} = Astro.props;
---

<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    {
      data.map((item) => {

        if(item.href !== undefined) {
          return (
          <li class="breadcrumb__item">
          <a href={item.href} class="breadcrumb__link">
            <span>{item.label}</span>
          </a>
        </li> 
          );
        }

        return (
        <li class="breadcrumb__item">
          <span class="breadcrumb__text">{item.label}</span>
        </li> 
        )
      })
    }
  </ol>
</nav>

<style lang="scss">
  .breadcrumb {
  position: relative;
  padding: 1.6rem 0 0;
  z-index: 1;

  @include mixin.sp {
    padding: 1.2rem 0 0;
  }

  &__list {
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    display: inline;

    &::after {
      content: '';
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      background-image: url('/images/common/icon-chevron-right.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 .4rem;
      transform: translateY(.1rem);

      @include mixin.sp {
        width: 1rem;
        height: 1.2rem;
        margin: 0 .2rem;
      }
    }

    &:last-child {

      &::after {
        display: none;
      }
    }

  }

  &__link {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      width: 100%;
      height: .1rem;
      background-color: var.$c-main-v;
      position: absolute;
      left: 0;
      bottom: 0;
    }


    span {
      color: var.$c-main-v;
      font-size: 1.4rem;
      transition: all .3s;

      @include mixin.sp {
        font-size: 1.2rem;
      }
    }

    @include mixin.hover {
      &:hover {
        span {
        }
      }
    }
  }

  &__text {
    display: inline;
    font-size: 1.4rem;

    @include mixin.sp {
      font-size: 1.2rem;
    }
  }
}
</style>