---
const isProduction = import.meta.env.ENVIRONMENT === 'production';

const adClient = 'ca-pub-1076760418024606';
const adSlot = '8654068992';
---

<div class="ad-unit">
  <ins class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client={adClient}
  data-ad-slot={adSlot}></ins>

  {
    isProduction ? (
    <script is:inline data-astro-rerun>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    ) : (
    <script is:inline data-astro-rerun>
      window.adsbygoogle = window.adsbygoogle || [];
      const adBreak = adConfig = function(o) {
        adsbygoogle.push(o);
      }
    </script>
    )
  }
</div>

<!-- <script is:inline data-astro-rerun define:vars={{adClient, isProduction}}>
  function init() {
    const adElement = document.querySelector('.ad-unit');
    const observer = new IntersectionObserver(function (entries) {
      if (entries[0].isIntersecting) {
        let ad = document.createElement('script');
        ad.type = 'text/javascript';
        ad.async = true;
        ad.src =
          'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=' + adClient;
        ad.crossOrigin = 'anonymous';
        if (!isProduction) {
          ad.dataset.adbreakTest='on';
        }
        document.head.appendChild(ad);
        observer.disconnect();
      }
    })
    if (adElement) {
      observer.observe(adElement);
    }
  }
  init();
</script> -->