---
const isProduction = import.meta.env.ENVIRONMENT === 'production';

const adClient = 'ca-pub-1076760418024606';
const adSlot = '8654068992';
---

<div class="ad-unit">
  <ins class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client={adClient}
  data-ad-slot={adSlot}></ins>

  {
    isProduction ? (
    <script is:inline data-astro-rerun>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    ) : (
    <script is:inline data-astro-rerun>
      window.adsbygoogle = window.adsbygoogle || [];
      const adBreak = adConfig = function(o) {
        adsbygoogle.push(o);
      }
    </script>
    )
  }
</div>
