---
const isProduction = import.meta.env.ENVIRONMENT === 'production';

const adClient = 'ca-pub-1076760418024606';
const adSlot = '8654068992';
---

<div class="ad-unit">
  {
    isProduction ? (
    <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client={adClient}
    data-ad-slot={adSlot}></ins>
    )
    : (
      <div class="ad-placeholder">広告</div>
    )
  }

  {
    isProduction ? (
    <script is:inline data-astro-rerun>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    ) : (
    <script is:inline data-astro-rerun>
      window.adsbygoogle = window.adsbygoogle || [];
      const adBreak = adConfig = function(o) {
        adsbygoogle.push(o);
      }
    </script>
    )
  }
</div>

<style lang="scss">
  .ad-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: var.$c-gray-l-2;
    font-size: 1.6rem;
    border: .1rem solid #ccc;
  }
</style>